* {
  box-sizing: border-box;
  font-family: "Kalam";
  outline: none;
}

body {
  margin: 0;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 2em;
}

a {
  color: black;
  border: 3px solid rgba(255, 165, 0, 0);
  padding: 0 5px;
  text-decoration: none;
  transition: border 0.5s;
}

a.highlight {
  border: 3px solid rgba(255, 165, 0, 1);
  transition: border 0.5s;
}

a:hover {
  background: orange;
  transition: all 0.3s;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background: orange;
}

.main-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 70%;
  height: 95vh;
}

.main-form input {
  width: 100%;
  padding: 50px;
  border: none;
  background: mistyrose;
  text-transform: uppercase;
  min-height: 115px;
  font-size: 1.5em;
}

.main-form button {
  width: 30%;
  margin-top: 10px;
  align-self: flex-end;
  padding: 10px;
  height: 90px;
  font-size: 1.8em;
  background: white;
}

.main-form button:hover {
  cursor: pointer;
}

.error {
  display: flex;
  align-items: flex-start;
  color: rgba(255, 0, 0, 0);
  font-size: 2em;
  height: 50px;
  transition: transform 0.4s;
  transform: translateX(-20px);
}

.error-show {
  align-self: center;
  color: rgba(255, 0, 0, 1);
  transform: translateX(20px);
}

.numberTypes {
  display: none;
  flex-direction: column;
  list-style-type: none;
  width: 100%;
  padding-left: 0;
  min-height: 95vh;
  justify-content: center;
  background: mistyrose;
  margin-top: 0;
}

.numberTypes li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  border-bottom: 3px dashed rgba(0, 0, 0, 0);
  height: 25vh;
  padding: 10px;
  font-size: 1.8em;
}

li.show {
  width: 100%;
  border-bottom: 3px dashed rgba(0, 0, 0, 1);
  transition: all 1s;
  color: black;
}

.signature {
  height: 5vh;
}

@media all and (max-width: 750px) {
  .main-form input {
    font-size: 1.2em;
  }

  .main-form button {
    font-size: 1.5em;
  }
}

@media all and (max-width: 640px) {
  .main-form input {
    font-size: 0.55em;
  }

  .main-form button {
    font-size: 1.2em;
    width: 100%;
  }

  .error {
    font-size: 1.4em;
    height: 30px;
  }

  .numberTypes li {
    font-size: 1.4em;
    width: 90%;
  }

  li.show {
    width: 100%;
  }
}

@media all and (max-width: 640px) and (orientation: landscape) {
  .main-form input {
    min-height: 10px;
    padding: 25px;
  }

  .main-form button {
    height: 50px;
    padding: 5px;
    width: 30%;
  }
}
